{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <nav>
        <img class="title-image" src="{% static 'images/logo.png' %}">
        <h1 class="title header">Welcome to Dragons {{user}} 
            <img class="coin-image" src="{% static 'images/coin.png' %}">
            {{player.money}}
        </h1>

        <div class="nav-end">
            <a class="button" href="/">My Dragons</a>
            <a class="button" href="/my_sale">My Sale</a>
            <a class="button active" href="/market">Buy</a>
            <a class="button" href="/breed">Breed</a>
            <a class="button" href="/fight">Fight</a>
            <a class="button" href="/history">History</a>
            <a class="button" href="/logout">Logout</a>
        </div>
        
    </nav>
    <input type="text" id="search-dragons" placeholder="Search dragon by name">
    <div id="dragons">

            {% for dragon in dragons %}
            <div data-id="{{dragon.pk}}" name="{{dragon.name}}" class="dragon">
                <img class="dragon-image" src="{% static 'images/' %}{{ dragon.type }}.png">
                <table>
                    <tr>
                        <td>
                            <a href="/dragon/{{dragon.pk}}">
                                {{dragon.name}}
                            </a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>hp</td>
                        <td>{{dragon.hp}}</td>
                    </tr>
                    <tr>
                        <td>attack</td>
                        <td>{{dragon.attack}}</td>
                    </tr>
                    <tr>
                        <td>defense</td>
                        <td>{{dragon.defense}}</td>
                    </tr>
                    <tr>
                        <td>speed</td>
                        <td>{{dragon.speed}}</td>
                    </tr>
                    <tr>
                        <td>owner</td>
                        <td>{{dragon.owner}}</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td> {{dragon.price}}</td>
                    </tr>
                    {% if dragon.owner != user %}
                    <tr>
                        <form>
                            {% csrf_token %}
                            <td><button data-id="{{dragon.pk}}" class="buy-dragon button">Buy</button></td>
                        </form>
                    </tr>
                    {% endif %}

                </table>
            </div>
            {% endfor %}

</div>
</div>

{% endblock %}